html,body{
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;

}

.content{
margin: 0 !important;
}

a{
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid transparent;
  transition:  0.5s;
}

a:hover{
  color: #E8E8E8;
}

.yeet-centered{
  /* background-color: rgba(0, 0, 0, 0.9); */
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* This recenters the content  */
  transform: translate(-50%, -50%);
  padding: 2% 0 2% 0;
}

.yeet-top{
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}


.yeet-one{
  position: fixed;
  top: 50%;
  left: 40px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-50%, 0);
}

.yeet-two{
  position:fixed;
  top: 50%;
  right: 40px;
  transform-origin: 100% 0;
  transform: rotate(90deg) translate(50%,0);
}

.yeet-three{
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: rotate(180deg) translate(50%,0);
}

.yeet-title{
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;
}

.yeet-description{
  margin: 3% 0 0 0;
  text-align: center;
  text-transform:none;
  letter-spacing: normal;
}

.yeet-social{
  font-size: 2rem;
  text-align: center;

}
